.App-header {
  background-color: purple;
  text-align: center;
 

  

}
section {
  display: flex;
}
h2{
  color: khaki;
}
h1{
  color: grey;
}
label{
  color: lightgrey;
}

div{
  text-align: center;
  background-color: grey;
  margin: 100px;


}
section{
  background-color: grey;
}

button{
  display:center;
  background-color: Khaki;

}

